.colorSet{
    background-color:crimson
}

.headerText{
    color: white !important
}

.grayoverlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color:#fffffe57;
    display: flex;
}

.spinnerCls{
    margin: auto
}